{% extends "layout.html" %}

{% block body %}

    <form action="/register" method="post" >
        <input autocomplete="off" autofocus name="name" placeholder="name" required type="text">
            <select name="sport">
                <option disabled selected>Sport</option>
                {% for option in sports %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Register</button>
    </form>

{% endblock %}
